name: Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-13, macos-13-xlarge, ubuntu-latest]
    
    steps:
    - uses: actions/checkout@v4
    
#    - name: Downgrade MinGW
#      if: matrix.os == 'windows-latest'
#      run: choco install mingw --version 11.2.0.07112021 --allow-downgrade
    
    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get update && sudo apt-get install -y libpango1.0-dev libx11-dev libxext-dev libxft-dev libxinerama-dev libxcursor-dev libxrender-dev libxfixes-dev libxkbcommon-dev libpng-dev libgl1-mesa-dev libglu1-mesa-dev libwayland-dev libwayland-egl-backend-dev libdecor-0-dev libdbus-1-dev

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.x'
    
    - name: Build
      run: go build -v ./...
